# Virtual Environment
venv/
env/
.venv/

# Django
*.pyc
__pycache__/
*.log
db.sqlite3
/media/
/staticfiles/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
